<launch>
    <rosparam command="load" file="$(find odometry_setup)/params/freya_ekf.yaml" ns="ekf_se" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_mru_broadcaster"
        args="0.1 0 0 0 0 0  body mru" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_gnss_broadcaster"
        args="0.1 0 0 0 0 0  body gnss" />

    <node pkg="seapath_gnss_ros_driver" type="seapath_gnss_ros_driver_node" name="seapath_gnss_ros_driver_node" output="screen"/>
    <node pkg="mru_ros_driver" type="mru_ros_driver_node" name="mru_ros_driver_node" output="screen"/>

    <node pkg="seapath_ahrs" type="seapath_ahrs_node" name="seapath_ahrs_node" output="screen"/>
    <node pkg="seapath_ekf" type="seapath_ekf_node" name="seapath_ekf_node" output="screen"/>


</launch>
